/**
 * Custom Style for field inside customizer
 *
 * @package SwipeWP
 */
 
/**---------------------------------------------
		Pro link
 ---------------------------------------------*/
#customize-controls .control-section-mt-upsell .accordion-section-title:hover,
#customize-controls .control-section-mt-upsell .accordion-section-title:focus {
    background-color: #fff;
}

.control-section-mt-upsell .accordion-section-title .button {
    margin-top:  -4px;
    font-weight: 700;
    margin-left: 8px;
    border-color: #029FB2;
    background-color: #029FB2;
    color: #fff;
}

.control-section-mt-upsell .accordion-section-title .button:hover {
    background-color: #006d80;
}